*{
  padding: 0%;
  margin: 0%;
}

.SignupPage_container div:last-child {
  margin-top: 3%;
  width: 80%;
}

form > * {
  width: 90%;
  margin-left: 5%;
  padding: 1%;
}

.password_input{
  border: 2px solid;
  width: 80%;
}

.eye_password {
  margin-left: 1%;
  width: 8%;
}

.check {
  background: url('./assets/images/check.png') no-repeat right;
  background-size:contain;
  border: solid green;
}

.cross {
  background: url('./assets/images/cross.png') no-repeat right;
  background-size:contain;
  border: solid red;
}


.SignupPage_container form label {
  margin-top: 3%;
}

.SignupPage_container form button {
  background-color: aqua;
  margin-top: 6%;
  width: 40%;
}

.NavbarCountry_container button {
  border: none;
  margin: 0.5%;
  padding: 1.5%;
  border-radius: 20px;
}

.IdCard_container, .SignupPage_container, .ClickablePicture_container,.NavbarCountry_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 4% 0%;
}

.IdCard_container, .ClickablePicture_container {
  border: 1px solid black;
}

.ClickablePicture_container img {
  width: 40%;
}

.IdCard_container{
  padding: 0.5%;
} 

.IdCard_container div:first-child {
  width: 20%;
}

.Greeting_container, .Random_container, .BoxColor_container{
  border: 1px solid black;
  margin: 0.5%;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .CreditCard_container, .Rating_container{
    width: 30%;
  }

  .DriverCard_container{
    padding: 2% 30%;
  }

  .LikeButton_container button {
    border-radius: 45px;
  }
}

.CreditCard_container, .Rating_container, .LikeButton_container, .Dice_container, .Carousel_container, .NumberTable_container{
  margin: 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.CreditCard_container{
  border-radius: 20px;
}


.CreditCard_container > * > *{
  margin: 0%;
}

.CreditCard_container div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  /* border: 1px solid black; */
}

.CreditCard_container div:nth-child(1){
  width: 90%;
  justify-content: flex-end;
  padding: 4%;  
}
.CreditCard_container div:nth-child(1) img{
  width: 15%;
  object-fit: contain;
}

.CreditCard_container div:nth-child(2){
  padding: 3%;
}

.CreditCard_container div:nth-child(2) p{
  font-size: x-large;
}

.CreditCard_container div:nth-child(3) {
  justify-content: flex-start;
}

.CreditCard_container div:nth-child(3) p {
  padding-right: 6%;
}

.CreditCard_container div:nth-child(4) p {
  padding-bottom: 4%;
}

.CreditCard_container div:nth-child(3) p,.CreditCard_container div:nth-child(4){
  font-size: small;
}

.DriverCard_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 15px;
}

@media only screen and (max-width: 768px) {
  .DriverCard_container {
    padding: 2% 0%;
  }

  .LikeButton_container button {
    border-radius: 25px;
  }
}

.DriverCard_container div:first-child{
  display: flex;
  justify-content: flex-end;
  width: 30%;
  padding: 2%;
}

.DriverCard_container div:first-child img{
  border-radius: 80px;
  width: 80%;
}

.DriverCard_container div:last-child img{
  width: 10%;
}

.DriverCard_container div:last-child{
  width: 60%;
  /* border: 1px solid black; */
}

.DriverCard_container div p, .DriverCard_container div h2{
  color: rgb(255, 255, 255);
}

.LikeButton_container {
  width: 15%;
}

.LikeButton_container button {
  width: 100%;
  font-size: large;
  padding: 6%;
  border: none;
}

.Carousel_container {
  width: 90%;
}

.Carousel_container > * {
  padding: 2%;
}

.Carousel_container button {
  border: none;
  background-color:rgba(240, 248, 255, 0);
}

.NumberTable_container h1{
  text-align: center;
  width: 10%;
  border: solid black;
}