*{
  padding: 0%;
  margin: 0%;
}

.IdCard_container {
  display: flex;
  align-items: center;
  border: 1px solid black;
  flex-wrap: wrap;
  margin: 4% 0%;
}

.IdCard_container{
  padding: 0.5%;
} 

.IdCard_container div:first-child {
  width: 20%;
}

.Greeting_container, .Random_container, .BoxColor_container{
  border: 1px solid black;
  margin: 0.5%;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .CreditCard_container, .Rating_container{
    width: 30%;
  }

  .DriverCard_container{
    padding: 2% 30%;
  }

  /* .DriverCard_container div:first-child img{
    border-radius: 30px;
    width: 50%;
  }
  
  .DriverCard_container div:last-child img{
    width: 5%;
  } */
}

.CreditCard_container, .Rating_container{
  margin: 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.CreditCard_container{
  border-radius: 20px;
}


.CreditCard_container > * > *{
  margin: 0%;
}

.CreditCard_container div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  /* border: 1px solid black; */
}

.CreditCard_container div:nth-child(1){
  width: 90%;
  justify-content: flex-end;
  padding: 4%;  
}
.CreditCard_container div:nth-child(1) img{
  width: 15%;
  object-fit: contain;
}

.CreditCard_container div:nth-child(2){
  padding: 3%;
}

.CreditCard_container div:nth-child(2) p{
  font-size: x-large;
}

.CreditCard_container div:nth-child(3) {
  justify-content: flex-start;
}

.CreditCard_container div:nth-child(3) p {
  padding-right: 6%;
}

.CreditCard_container div:nth-child(4) p {
  padding-bottom: 4%;
}

.CreditCard_container div:nth-child(3) p,.CreditCard_container div:nth-child(4){
  font-size: small;
}

.DriverCard_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 15px;
}

@media only screen and (max-width: 768px) {
  .DriverCard_container {
    padding: 2% 0%;
  }
}

.DriverCard_container div:first-child{
  display: flex;
  justify-content: flex-end;
  width: 30%;
  padding: 2%;
}

.DriverCard_container div:first-child img{
  border-radius: 80px;
  width: 80%;
}

.DriverCard_container div:last-child img{
  width: 10%;
}

.DriverCard_container div:last-child{
  width: 60%;
  /* border: 1px solid black; */
}

.DriverCard_container div p, .DriverCard_container div h2{
  color: white;
}